* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input:focus {
	outline: none;
}

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

html,
body {
	height: 100%;
}

input {
	border: 0;
}

img {
	width: 100%;
	height: auto;
}

body {
	overflow-x: hidden;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	background: none;
}

a {
	text-decoration: none;
	color: inherit;
}

li,
ul,
ol {
	list-style: none;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
}

table {
	border-collapse: collapse;
}

/*Reset Wordpress block styles*/
.wp-block-button__link {
	background-color: none;
	border: none;
	box-shadow: none;
	padding: 0;
	background: none;
}
